workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "68380228-3c8f-41e9-ba00-1de78e6d7fdf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "30271d1a-b241-4342-93ed-75e015ceeae9",
      "name": "Webhook",
      "webhookId": "68380228-3c8f-41e9-ba00-1de78e6d7fdf"
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming WhatsApp message from the previous node\nconst message = items[0].json.body.Body;\n\n// Split the message into parts based on spaces\nconst parts = message.split(' ');\n\n// Assign the parts to variables.\n// toUpperCase() makes matching easier in the next step.\nconst command = parts[0].toUpperCase();\nconst path1 = parts[1]; // The first path (e.g., /MyFolder)\nconst path2 = parts[2]; // The second path, for the MOVE command\n\n// Return a new object with the parsed data\nreturn [{\n  json: {\n    command: command,\n    path1: path1,\n    path2: path2\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9933fb0a-3bca-4f75-9794-2b6351a64bb4",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec022e99-599a-4827-992d-7c45d2e4b1fd",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7a711ae-3c49-46d8-85f1-70cff0465865",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea7009c9-085c-4d5e-9f07-0990713964e3",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "MOVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89462de7-be32-48df-9715-3e691b4e9c7c",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "SUMMARY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        0
      ],
      "id": "2a6aff7d-39b6-4cd8-9147-d4fc2964199d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.path1.substring(1) }}' and mimeType = 'application/vnd.google-apps.folder'",
        "filter": {},
        "options": {
          "fields": []
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        688,
        -160
      ],
      "id": "7ce3321b-741b-4a4b-95ae-3bcc059b5a71",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JQkrvLLspgk1bRWW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "value": "1VvBrqSxHhjOsFWiwpYyaOJmHHr3W-aBU",
          "mode": "list",
          "cachedResultName": "MyFolder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VvBrqSxHhjOsFWiwpYyaOJmHHr3W-aBU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -64
      ],
      "id": "a2d77667-2daf-49ae-9c4a-1eaad4ada4b1",
      "name": "Delete folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JQkrvLLspgk1bRWW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "1j2G-egpM8eix4qDu3GGa6n2WHBX06WSz",
          "mode": "list",
          "cachedResultName": "10-Social-Science-Sample-Paper-2019-Set-1.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1j2G-egpM8eix4qDu3GGa6n2WHBX06WSz/view?usp=drivesdk"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1VvBrqSxHhjOsFWiwpYyaOJmHHr3W-aBU",
          "mode": "list",
          "cachedResultName": "MyFolder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VvBrqSxHhjOsFWiwpYyaOJmHHr3W-aBU"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        736,
        64
      ],
      "id": "b7ae5076-e731-4184-b058-828574940812",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JQkrvLLspgk1bRWW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.id }}' in parents",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        176
      ],
      "id": "e3e3a9f8-ee5b-4ee8-8ab3-642da336eda2",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JQkrvLLspgk1bRWW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = items.map(item => `- ${item.json.name}`);\n\nif (files.length === 0) {\n  return [{ json: { reply: \"The folder is empty or does not exist.\" } }];\n}\n\nconst reply = `Files found:\\n${files.join('\\n')}`;\n\nreturn [{ json: { reply: reply } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        224
      ],
      "id": "76feab79-a11d-4d6a-b52e-7a411f90ee3f",
      "name": "Code1"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.From }}",
        "toWhatsapp": true,
        "message": "={{ $json.reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1184,
        -80
      ],
      "id": "26bfcb7d-b752-4203-a980-1f0b1b85cfda",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "rWK2zimXXpfHFg1v",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete folder": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "124f4ee9-1f0a-4b58-9ca8-e58093e29411",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b22033eeeca29241768852621681f68ab79afca532f71023ae245a8097e5704"
  },
  "id": "9Odo9fjIJk5HFOgB",
  "tags": []
}